@font-face {
  font-family: "comic";
  src: url(fonts/comic.ttf);
}

@font-face {
  font-family: "NerveAgent";
  src: url(fonts/NerveAgentFilled-Regular.ttf);
}

@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue-Regular.ttf);
}

:root {
  --cor-primaria: #7ab3e1;
  --cor-secundaria: #5a7bfe;
  --cor-campo: #7bb5ee80;
  --cor-sub: #7bb5ee;
  --cor-tema-menu: #202020;
  --cor-tema-menu-extra : #303030;
  --cor-tema-fundo: #181818;
  --cor-tema-letras: #ffffff;
  --cor-borda: #585858;
  --nf-spacing: 0.0em;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--cor-tema-fundo);
  margin: 0;
  padding: 20px;
}

.sheet {
  max-width: 1000px;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-top: 70px;
  background: var(--cor-tema-menu);
  padding: 20px;
  border: 1px solid var(--cor-borda);
}

.barra-lateral {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 20px;
  width: 56px;
  box-sizing: border-box;
  background-color: var(--cor-tema-menu);
  padding: 10px;
  gap: 10px;
  margin: auto;
  border-right: 1px solid var(--cor-borda);
  z-index: 101;
}

.menu {
  display: none;
  border-radius: 5px;
  background-color: var(--cor-tema-menu-extra);
  border: 1px solid var(--cor-borda);
  gap: 5px;
  padding: 5px;
  z-index: 101;
}

.menu label {
  font-family: 'Gill Sans MT';
  color: var(--cor-tema-letras);
}

#menu-ajustes.show {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 56px;
  width: 150px;
}

.opcao-ajuste {
  border-radius: 5px;
  border: none;
  display: flex;
  padding: 5px;
}

.opcao-ajuste:hover {
  background-color: var(--cor-primaria);
  cursor: pointer;
}

.opcao-ajuste span{
  font-family: BebasNeue;
  color: var(--cor-tema-letras);
  letter-spacing: var(--nf-spacing);
}

.opcao-ajuste:hover span {
  color: var(--cor-tema-menu);
}

.grupo-ajustes {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--cor-borda);
}

#menu-tema.show {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 62px;
  left: 218px;
  width: auto;
}

#menu-cor.show {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 55px;
  left: 218px;
  width: auto;
}

#menu-fundo.show {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 218px;
  width: auto;
}

#menu-cor input {
  display: none;
}

#menu-cor label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--cor-borda);
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
  transition: all 0.2s ease;
  background-color: var(--cor-opcao);
}

#menu-cor input:checked + label::before {
  background-color: var(--cor-opcao);
  box-shadow: inset 0 0 0 3px var(--cor-tema-fundo);
}

h1 {
  text-align: left;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: BebasNeue;
  color:var(--cor-primaria);
  font-weight: normal;
  letter-spacing: var(--nf-spacing);
}

input {
  font-family: comic;
  background-color: var(--cor-tema-menu);
  color: var(--cor-tema-letras);
}

.bloco {
  display: grid;
  border: 2px solid var(--cor-secundaria);
  border-radius: 15px;
  margin: 5px;
}

.header-grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 10px;
}

.habilities-skills-adv {
  grid-template-columns: 55% 43%;
  border: none;
  gap: 12px;
  align-items: start;
  justify-items: center;
}

.habilities {
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  padding: 10px;
  align-items: center;
  justify-items: center;
}

.sub-grupo{
  display: grid;
}

.defenses {
  grid-template-columns: 44% 15% 15% 16% 10%;
  gap: 2px;
  padding: 10px;
  align-items: center;
}

.classe {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
  font-size: 20px;
  align-items: center;
}

.skills {
  gap: 2px;
  align-items: center;
  padding: 10px;
  justify-items: center;
}

.vantagens {
  gap: 5px;
  align-items: center;
  font-size: 15px;
  padding: 10px;
}

.vantagens-linha {
  display: grid;
  grid-template-columns: 10% 15% 70%;
  gap: 10px;
  margin: 3px;
}

#lista-vantagens {
  max-height: 220px;
  overflow-y: auto;
}

.vantagens-linha input {
  background-color: var(--cor-campo);
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
}

table {
  border-spacing: 0px;
}

th{
  font-weight: normal;
}

.normal-text {
  font-family: BebasNeue;
  color: var(--cor-tema-letras);
  letter-spacing: var(--nf-spacing);
}

.small-number input {
  padding: 1px;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
  font-family: BebasNeue;
  color: var(--cor-secundaria);
  text-align:center;
  border:none;
  letter-spacing: var(--nf-spacing);
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 15px;
  font-family: BebasNeue;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: var(--cor-tema-letras);
  letter-spacing: var(--nf-spacing);
}

.field input {
  padding: 1px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid var(--cor-primaria);
  background-color: var(--cor-campo);
}

.stat {
  display: block;
}

.stat input {
  background-color: var(--cor-campo);
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 1px;
  box-sizing: border-box;
  text-align: center;
}

.hability label {
  font-size: 20px;
  font-family: BebasNeue;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: var(--cor-tema-letras);
  letter-spacing: var(--nf-spacing);
}

.hability input {
  font-size: 25px;
  max-width: 70px;
}

.sub-hab label {
  font-size: 15px;
  font-family: BebasNeue;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: var(--cor-tema-letras);
  letter-spacing: var(--nf-spacing);
}

.sub-hab input {
  padding: 1px;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  text-align:center;
  max-width: 70px;
  border: 2px solid var(--cor-sub);
}

.outros {
  justify-self: center;
}

.outros input {
  font-size: 15px;
  max-width: 30px;
}

.outros label {
  font-family: BebasNeue;
  font-size: 12px;
  color: var(--cor-tema-letras);
  letter-spacing: var(--nf-spacing);
}

/* Fields that should span more columns */
.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.barra-superior {
  position: absolute;
  height: 0;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
}

.barra-superior > #pagetop {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  height: 56px;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  max-width: 1750px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--cor-tema-menu);
  border-bottom: 1px solid var(--cor-borda);
}

#barraPontos {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0px;
  gap: 10px;
  padding: 0;
  height: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  background-color: var(--cor-secundaria);
  border-top: 1px solid var(--cor-borda);
}

.barra-superior label {
  padding: 5px;
  font-size: 15px;
  font-family: 'Gill Sans MT';
  font-weight: normal;
  color: var(--cor-tema-letras);
  font-weight: normal;
}

.barra-superior span {
  padding: 5px;
  font-size: 15px;
  font-family: 'Gill Sans MT';
  color: var(--cor-tema-letras);
  font-weight: normal;
}

.barra-superior > #barraPontos input {
  background: none;
  display: flex;
  border: none;
  color: var(--cor-tema-letras);
  max-width: 40px;
  text-align: center;
  font-size: 15px;
  border-bottom: 2px solid var(--cor-tema-letras);
}

#top-nav-bar::before {
  display: block;
  content: " ";
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 56px;
  left: 0;
  top: 0;
  background-color: var(--cor-tema-menu);
}

.botao {
  margin: 10px;
  padding: 8px 16px;
  background-color: var(--cor-tema-letras);
  color: var(--cor-tema-fundo);
  border-radius: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.botao-img {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.botao-img:hover {
  background-color: var(--cor-primaria);
}

.botao-img img {
  width: 30;
  height: 30px;
  background-color: transparent;
}

.botao-img:hover img {
  filter: invert(0%);
}

.invertido {
  filter: invert(100%);
}

.nao-invertido {
  filter: invert(0%);
}

.classe label{
  font-family: BebasNeue;
  font-size: 15px;
  position: relative;
  z-index: 1;
  letter-spacing: var(--nf-spacing);
  color: var(--cor-tema-letras);
}

.classe select {
  font-size: 20px;
  background-color: var(--cor-campo);
  border: none;
  border-radius: 5px;
  color: #181818;
}

.classe input {
  position: absolute;
  z-index: 2;
  font-size: 35px;
}

.classe span {
  font-size: 25px;
  color: var(--cor-secundaria);
  z-index: 1;
  opacity: 30%;
}

.vantagens span {
  color: var(--cor-secundaria);
  font-size: 20px;
}

.vantagens select {
  font-size: 15px;
  background-color: var(--cor-campo);
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #181818;
}

#vantagensPorTipo label {
  font-family: BebasNeue;
  font-size: 15px;
  color: var(--cor-secundaria);
  padding: 5px;
  margin: auto;
  letter-spacing: var(--nf-spacing);
}

#vantagensPorTipo input {
  border: none;
  font-size: 15px;
  width: 5%;
  text-align: center;
  max-height: 20px;
  font-family: BebasNeue;
  letter-spacing: var(--nf-spacing);
  margin: auto;
}

select {
  font-family: BebasNeue;
  letter-spacing: var(--nf-spacing);
  color: var(--cor-tema-fundo);
}

span {
  font-family: BebasNeue;
  font-weight: normal;
  letter-spacing: var(--nf-spacing);
}

#corrupcao-progresso {
  height: 10px; 
  background-color: blue; 
  border: none;
  width: 0%;
  margin-top: 20px;
}

#corrupcao-margem {
  position: absolute;
  height: 10px;
  margin-top: 18px; 
  border: 2px solid var(--cor-tema-letras); 
  width: 100%;
}

.vida-estamina input{
  background-color: transparent;
  text-align: center;
  max-width: none;
}

.nome-pericia {
  font-size: 18px;
  justify-self: left;
}

.hab-pericia {
  font-size: 13px;
}

.sub-barra-pontos {
  flex-direction:row; 
  display: flex; 
  border-left: 1px solid var(--cor-borda);
}